body{
	background-color: #d9d9e7;
	margin: 0;
	padding: 0;
}
@media screen and (max-width:840px) {
	header{
		background-color: rgb(191, 31, 191);
		text-align: center;
		position: fixed;
		display: flex;
		width: 100%;
		top: 0;
		height: 10vh;
		justify-content: center;
		align-items: center;
		z-index: 999;
		color: #FF27A1;
	}
	.logo{
		font-family: 'dancing script';
		padding: 20px;
		color: white;
		background: linear-gradient(90deg,rgb(1, 249, 1), orange, rgb(34, 88, 251), white);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: text 3s  infinite linear;
	}
	@keyframes text {
		from{
			-webkit-filter: hue-rotate(1deg);
		}
		to{
			-webkit-filter: hue-rotate(360deg);
		}
	}
	nav{
		position: absolute;
		text-align: center;
		top: 100%;
		right: 0;
		background: rgb(191, 31, 191);
		width: 20%;
		transform: scale(1, 0);
		transform-origin: top;
		transition: transform 400ms ease-in;
	}
	.nav-toggler{
		display: none;
	}
	.nav-toggle-btn{
		position: absolute;
		top: 0;
		right: 20px;
		margin-left: 1.2em;
		
		height: 100%;
		display: flex;
		align-items: center;
		
	}
	.nav-toggle-btn span,
	.nav-toggle-btn span::before,
	.nav-toggle-btn span::after{
		display: block;
		background: white;
		height: 2px;
		width: 2em;
		border-radius: 2px;
		position: relative;
	}
	.nav-toggle-btn span::before,
	.nav-toggle-btn span::after{
		content: '';
		position: absolute;
	}
	.nav-toggle-btn span::before{
		bottom: 7px;
	}
	.nav-toggle-btn span::after{
		top: 7px;
	}
	
	nav ul{
		margin: 0;
		padding: 0;
		list-style: none;
		
	}nav li{
		margin-bottom: 5px;
		margin-left: 10px;
	}nav a{
		color: white;
		text-decoration: none;
		font-size: 1rem;
		text-transform: uppercase;
		opacity: 0;
		transition: opacity 190ms ease-in-out;
	}
	nav a:hover{
		color: red;
	}
	.nav-toggler:checked ~ nav{
		transform: scale(1, 1);
	}
	.nav-toggler:checked ~ nav a{
		opacity: 1;
		transition: opacity 200ms ease-in-out 500ms;
	}
}
