#scroll{
    color: #FF27A1;
    font-size: larger;
    animation: move 1s ease infinite;
    position: relative;
    transition: 1s;
}
@keyframes move {
    0%{
        transform: translatey(0vh);
    }
    50%{
        transform: translatey(0);
        opacity: 0.6;
    }
    100%{
        transform: translatey(10vh);
    }

}
img{
    max-width: 100%;
    height: auto;
}
.image-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 3em;
    margin: 3em;
}


.grid-item:nth-child(1){
    grid-row: span 2;
    grid-column: span 2;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
}
.grid-item img{
    aspect-ratio: 1.5/ 1.7;
    opacity: 0.7;
    border-radius: 6px;
}
.grid-item img:hover{
    transform: scale(1.2,1.2);
    opacity: 1;
    transition: 1s;
    box-shadow:10px 10px 10px 10px rgb(147, 146, 146);
}
.section-1, .section-2{
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: 130vh;
  
}
.greeting{
    text-align: center;
    justify-content: center;
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.section-2{
    justify-content: center;
    background-color: #d9d9e7;
    padding: 20px;
}
.section-3 img{
    max-width: 90%;
    padding: 20px;
}