body{
	margin: 0%;
	padding: 0%;
}
header{
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: rgb(191, 31, 191);
	place-items: center;
}
nav{
	all: unset;
	grid-column: 2/ span 3;
}
nav ul{
	margin: auto;
}
nav li{
	display: inline-block;
	margin: 5px 10px;
	padding: 5px 10px;
	
}
nav ul li a{
	
	color: rgb(254, 192, 77);
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'raleway';
	font-weight: bold;
	font-size: small;
	border: 1px solid transparent;
}
nav ul li a:hover{
	color: white;
	border: 1px solid transparent;
	transform: scale(1.1, 1.1);
	transition: 1s;
	cursor: pointer;
}
.nav-toggle-btn{
	display: none;
}
.nav-toggler{
	display: none;
}
.logo{
	font-family: 'dancing script';
	padding: 0px;
	color: white;
	background: linear-gradient(90deg,rgb(1, 249, 1), orange, rgb(34, 88, 251), white);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: text 3s  infinite linear;
}
@keyframes text {
	from{
		-webkit-filter: hue-rotate(1deg);
	}
	to{
		-webkit-filter: hue-rotate(360deg);
	}
}
.welcome{
	margin: 150px 40px;
	height: 100vh;
}
.grid-container{
	display: grid;
	grid-template-columns: auto auto;
	
	gap: 50px;
	
	margin: 20px 10px 10px 50px;
}
.item-1{
	border-radius: 9px;
	box-shadow: 0px 0px 8px  rgb(165, 14, 165);
	text-align: center;
	justify-content: center;
	display: flex;
}
.content{
	padding: 10px;
	margin: auto;
	text-align: left;
	
}

 h1{
	font-size: 40px;
	font-family: 'raleway';
	color: #fa04d9;
	
} 
 h2{
	font-size: 40px;
	font-family: 'raleway';
	color: #fa04d9;
	
}
.item-1 p{
	
	font-size: larger;
	font-family: 'dosis';
}
small{
	
	text-shadow: 1px 1px darkgrey;
	font-family: 'dancing script';
	font-size: 25px;
}
.btn{
	padding: 10px;
	margin: 10px;
	background-color:  rgb(239, 55, 239);
	border: 1px solid  rgb(33, 156, 156);
	font-family: 'dancing script';
	font-size: 20px;
	color: white;
	
}
.btn:hover{
	color: #fa04d9;
	background-color: #d7d7ea;
	transform: scale(1.1,1.1);
	transition: 1s;
	cursor: pointer;
}
.item-2{
	
	padding-left: 20px;
	padding-top: 20px;
	border-radius: 9px;
}
.image{
	width: 200px;
	height: auto;
	box-shadow:12px 12px 8px 8px darkgrey;
	border-radius: 5px;
}
.smalll-grid{
	display: grid;
	gap:20px;
	grid-template-rows: auto auto auto;
	font-family: 'raleway';
}.smalll-grid-1{
	grid-column: 1/span 2;
	padding: 5px;
}
.smalll-grid-2 {
	margin: 5px;
	grid-column: 1;
	font-weight: bolder;
	color:#241823;
}
.smalll-grid-3{
	margin: 5px;
	grid-column: 2;
	font-weight: bolder;
	color:#241823;
}
.smalll-grid-4{
	grid-column: 1/ span 2;
	color: #241823;
}
.smalll-grid-4 h4,h6 {
	font-family: raleway;
} 
.about{
	grid-row: 2;
	grid-column: 1/span 2;
	font-family: 'dosis';
	padding: 20px ;
	margin: auto;
	width: auto;
	
	text-align: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	background-color:  #d7d7ea;
	
}
.intro{
	grid-column: 1/ span 2;
	grid-row: 1;
	background-color: rgb(235, 152, 235);
	box-shadow: 0px 0px 8px  #fa04d9;
	padding: 30px;
	margin: 10px;
	border-radius: 10px;
}
.highlight-exp{
	grid-column: 2 / span 2;
	grid-row: 2;
	box-shadow: 0px 0px 8px  #fa04d9;
	padding: 30px;
	margin: 10px;
	border-radius: 10px;
}

.highlight-skill{
	grid-row: 3;
	grid-column: 1/ span 2;
	background-color: rgb(235, 152, 235);
	box-shadow: 0px 0px 8px  #fa04d9;
	padding: 30px;
	margin: 10px;
	border-radius: 10px;
}
.contact-info{
	grid-row: 4;
	grid-column: 2/ span 2;
	padding: 30px;
	box-shadow: 0px 0px 8px  #fa04d9;
	margin: 10px;
	border-radius: 10px;
}
footer{
	background-color: #853087;
	color: white;
	border-radius: 50px 0px 0px;
}
.page-foot{
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-around;
}
span{
	font-size: larger;

	color:  rgb(254, 192, 77);
}
@media screen and (max-width:940px) {
	.grid-container{
		display: grid;
		grid-template-columns: auto;
		
		gap: 50px;
		place-items: center;
		margin: 20px 10px 10px 50px;
	}
	.welcome{
		padding-top: 20px;
		height: 70vh;
	}
 .about{
	display: grid;
	grid-template-columns: auto;
	place-items: center;
 }
 .item-1{
	background-color: rgb(235, 152, 235);
	box-shadow: none;
	width: 70vw;

 }
 .intro{
	grid-column: 1/ span 3;
 }
 .highlight-exp{
	grid-column: 1 / span 3;
	
}

.highlight-skill{
	
	grid-column: 1/ span 3;

}
.contact-info{
	grid-column: 1/ span 3;

}
}
