
.grid-container-2{
	display: grid;
	grid-template-columns: repeat(2, 1fr) auto auto;
	gap: 20px;

}
.form{
	background-color: #bdbdd7;
	border-radius: 10px;
	margin: 15px;
	text-align: left;
	padding: 10px;
}
h1{
	font-size: 40px;
	color:  rgb(33, 156, 156);
	font-family: 'dosis';
	text-align: center;
}
.labels{
	float: left;
	width: 300px;
	margin: 5px;
}
.respond{
	float: left;
	width: 600px;
	margin: 5px;
}
label{
	font-family: 'dosis';
	display: inline-block;
	font-weight: bolder;
}
 input,select, textarea{
	width: 80%;
	padding: 10px;
	border: 1px solid green;
	outline: none;
	border-radius: 10px;
}
input:hover, select:hover, textarea:hover{
	box-shadow: 0px 0px 10px grey;
}
.add-info{
	grid-column: 1/span 2;
	grid-row: 2;
}.photo{
	text-align: center;
	margin: 10px;

}
.button{
	margin:20px;
	width: 50%;
	float: left;
	font-size: 20px;
}
textarea{
	height: 100px;
}
.pic{
	width:300px;
	height: auto;
	box-shadow:15px 15px 10px 10px darkgrey;
	border-radius: 5px;
	opacity: 0.8;
}
select{
	width: 83%;
}
.btn-2{
	padding: 17px 30px;
	margin: 5px;
	background-color: rgb(33, 156, 156);
	color: white;
	outline-color: none;
	border: none;
	cursor: pointer;
}.address{
	margin: 2px;
	padding: 10px;
}.number{
	margin: 2px;
	padding: 10px;

}
.email{
	margin: 2px;
	padding: 10px;
}