
.grid-container-2{
	display: grid;
	grid-template-columns: repeat(2, 1fr) auto auto;
	gap: 20px;
	row-gap: 0px;

}
.form{
	background-color: rgb(168, 213, 228);
	border-radius: 10px;
	margin: 15px;
	text-align: left;
	padding: 10px;
}
h1{
	font-size: 40px;
	color:  rgb(33, 156, 156);
	font-family: 'dosis';
	text-align: center;
}
.labels{
	float: center;
	width: 300px;
	margin: 5px;
}
.labels::after{
	content: ("");
	display: table;
	clear:both
}
.respond{
	float: left;
	width: 600px;
	margin: 5px;
}
label{
	font-family: 'dosis';
	display: inline-block;
	font-weight: bolder;
}
 input,select, textarea{
	width: 80%;
	padding: 10px;
	border: 1px solid green;
	outline: none;
	border-radius: 10px;
	font-family: 'dosis';
	font-size: medium;
}
input:hover, select:hover, textarea:hover{
	box-shadow: 0px 0px 10px grey;
}
.add-info{
	grid-column: 1/span 2;
	grid-row: 2;
}.photo{
	text-align: center;
	margin: 10px;
	font-family: 'dosis';
	color: rgb(33, 156, 156);
	font-size: large;
}
.button{
	margin:20px;
	width: 50%;
	float: left;
	font-size: 20px;
}
textarea{
	height: 100px;
}
.pic{
	width:300px;
	height: auto;
	box-shadow:15px 15px 10px 10px darkgrey;
	border-radius: 5px;
	opacity: 0.8;
}
select{
	width: 83%;
}
.btn-2{
	padding: 10px 23px;
	margin: 5px;
	background-color: floralwhite;
	color: rgb(33, 156, 156);
	outline-color: none;
	border: none;
	cursor: pointer;
	border: darkcyan 1px solid;
	border-radius: 10px;
}
.btn-2:hover{
	transform: scale(1.2,1.2);
	transition: 0.5s;
	cursor: pointer;
	color: white;
	background-color: rgb(33, 156, 156);
}.address{
	margin: 2px;
	padding: 10px;
}.number{
	margin: 2px;
	padding: 10px;

}
.email{
	margin: 2px;
	padding: 10px;
}
.add-info{
	color: black;
	font-weight: bold;
}
.form-items{
	
}.icon{
	color: red;
}
@media only screen and (max-width:540px){
	.grid-container-2{
		grid-template-columns: auto;
		width: auto;
	}

}
span{
	color: #e7eaf6;
}
<<<<<<< HEAD
=======
img{
	color: white;
}
>>>>>>> contact
